// COLOR
$black: #000;
$white: #fff;

$grey: #37393d;

$yellow-light: #f4fb70;
$yellow: #fbdf70;
$yellow-dark: #fbbc70;

// FONT
@import url("https://fonts.googleapis.com/css2?family=KoHo&family=Montserrat:wght@700&family=Open+Sans:wght@400;700&display=swap");
$open: "Open Sans";
$mon: "Montserrat", sans-serif;
$koho: "KoHo", sans-serif;
